@import '../variables.scss';

.about {
 background-color: $off-white;
 padding: 2rem 0;
 .about-container {
  margin: 0 auto;
  display: flex;
  width: 70%;
  text-align: center;
 }
 .about-text-container {
  h2 {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1.8rem;
   letter-spacing: 0.15rem;
   margin: 2;
   padding-bottom: 1rem;
   height: 1rem;
   @media (max-width: 1343px) {
    font-size: 2.15rem;
  }
   @media (max-width: 955px) {
    font-size: 2.5rem;
  }
  }
  p {
   font-size: 1rem;
   line-height: 2.5rem;
   font-weight: 350;
   @media (max-width: 1343px) {
    font-size: 1.35rem;
    font-weight: 325;
  }
   @media (max-width: 955px) {
    font-size: 1.7rem;
    font-weight: 300;
  }
  }
 }

}