@import '../variables.scss';

.banner {
 display: flex;
 align-items: center;
 background-color: $off-white;
 position: relative;
 height: 100vh;
 text-align: center;
 .row {
   position: relative;
   width: 100%;
   overflow: hidden;
   .banner-text {
     display: inline-flex;
     white-space: nowrap;
     font-size: 5vw;
     text-transform: uppercase;
     letter-spacing: 1rem;
     font-weight: 300;
     color: black;
     position: relative;
     top: 50%;
     @media (min-width: 1065px) {
       font-size: 3rem;
       letter-spacing: 0.8rem;
     }
    //  @media (min-width: 800px) {
    //    font-size: 2.8rem;
    //    letter-spacing: 1rem;
    //  }
    //  @media (min-width: 700rem) {
    //    font-size: 3.2rem;
    //    letter-spacing: 1rem;
    //  }
    //  @media (max-width: 62.5rem) {
    //    font-size: 2.6rem;
    //    letter-spacing: 0.8rem;
    //  }
    //  @media (max-width: 350px) {
    //   font-size: 2.6rem;
    //   letter-spacing: 0.8rem;
    // }
    //  @media (max-width: 50rem) {
    //    font-size: 2.4rem;
    //    letter-spacing: 0.6rem;
    //  }
    //  @media (max-width: 30rem) {
    //    font-size: 2.2rem;
    //    letter-spacing: 0.25rem;
    //  }
    //  @media (max-width: 400px) {
    //    font-size: 1.2rem;
    //    letter-spacing: 0.25rem;
    //  }
   }
   .full-stack {
    margin-right: 1%;
   }
   .web-developer {
    margin-left: 1%;
   }
  }
 }