@import '../variables.scss';

header {
 height: 5rem;
 position: fixed;
 top: 0;
 width: calc(100% - 11%);
 z-index: 1;
 background-color: $off-white;
 .inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  .logo {
   button {
   position: relative;
   z-index: 2;
   text-decoration: none;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   font-size: 0.75rem;
   font-weight: 700;
   border: none;
   cursor: pointer;
   background-color: transparent;
   &:focus {
    outline: none;
   }
   @media (max-width: 1065px) {
    font-size: 1.1rem;
  }
  }
 }
  .navigation {
   nav {
    button {
     overflow: hidden;
     padding: 0 0 0.25rem;
     height: 1em;
     margin: 0 1.25rem;
     text-decoration: none;
     letter-spacing: 0.1rem;
     text-transform: uppercase;
     font-size: 0.75rem;
     border: none;
     cursor: pointer;
     color: black;
     background-color: transparent;
     padding: 0;
     &:last-child {
      margin-right: 0;
     }
     &:focus {
      outline: none;
     }
     &:hover {
      font-weight: 700;
     }
     @media (max-width: 1065px) {
      font-size: 1.1rem;
    }  
    }
   }
  }
 }
 #menu-toggle, .hamburger {
   display: none;
 }

 @media screen and (max-width: 650px) {

   nav {
    padding: .5rem;
    background: lightgrey;
    position: fixed;
    flex: 1;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
   }

   .nav-links {
     display: none;
   }

   .hamburger {
     display: flex;
     transform: rotate(90deg);
   }

   #menu-toggle:checked ~ .nav-links {
     display: flex;
     flex-direction: column;
   }
 }
}
